{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}
<section class="login-section">
<div class="container">
    <div class="login-form">
        <h3>Login</h3>
        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            {{ form.as_p }}
            <a href="{% url "users:password_reset" %}">Forgot your password?</a>
            <button class="btn" type="submit">Login</button>
        </form>
    </div>
    <div class='register-link'>
        <p><a class="github-link" href="{% url "social:begin" "github" %}"><img src="{% static 'img/github.png' %}" alt=""></a></p>
        <p><a href="{% url "users:register" %}">Do not have an account?</a></p>
    </div>
</div>
</section>
{% endblock content %}