{% extends "base.html" %}
{% load static %}

{% block title %}Password changed{% endblock title %}

{% block content %}
    <section class="login-section">
        <div class="container">
            <div class="login-form">
                <h3>Password changed</h3>
                <p>
                    Congrats! You've successfully changed your password!
                    <a href="{% url "users:login" %}">Click here to login</a>
                </p>
            </div>
        </div>
    </section>
{% endblock content %}