{% extends "base.html" %}
{% load static %}

{% block title %}New password{% endblock title %}

{% block content %}
    <section class="login-section">
        <div class="container">
            <div class="login-form">
                <h3>Create new password</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-buttons">
                        <button type="submit" class='btn'>Save</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}