{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <navbar class="navbar" id="main-navbar">
          <div class="logo">
            <a href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>
          </div>
          <button class="hamburger-btn" id="hamburger-btn" aria-label="Toggle menu">
            <img src="{% static 'img/menu.png' %}" alt="" />
          </button>
          <div class="nav nav-left">
            <ul>
              <li>
                <a class="nav-link" href="/">Home</a>
              </li>
              <li>
                <a class="nav-link" href="{% url "main:product_list" %}">Shop</a>
              </li>
              <li>
                <a class="nav-link" href="{% url "main:contact" %}">Contact us</a>
              </li>
              
            </ul>
          </div>
          <div class="nav nav-right">
            <ul>
              <li>
                <a class="nav-button-wl" href="{% url "wishlist:wishlist_detail" %}">
                  <img src="{% static 'img/liked.png' %}" alt="">
                  {{wishlist_count}}
                </a>
              </li>
              <li class='cart-icon'>
                <a class="nav-button-cart" href="{% url "cart:cart_detail" %}">
                  <img src="{% static 'img/cart.png' %}" alt="">
                  {{ cart_count }}
                </a>
              </li>
              {% if user.is_authenticated %}
              <li><a class="nav-button-profile" href="{% url 'orders:order_list' %}">My Orders</a></li>
              <li><a class="nav-button-profile" href="{% url 'users:profile' %}"><img src="{% static 'img/profile.png' %}" alt="">{{ request.user.username }}</a></li>
              <li>
                <a class="nav-button-profile" href="{% url 'users:logout' %}">
                    Logout
                </a>
              </li>
              {% else %}
              <li>
                <a class="nav-button-profile" href="{% url 'users:login' %}">
                  Login
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </navbar>
      </div>
    </header>

    {% block content %}
    {% endblock content %}
    
    <footer>
      <div class="container">
        <div class="footer-info">
          <div class="footer-list">
            <ul>INFO
              <li><a href="#!">HOME</a></li>
              <li><a href="#!">SHOP</a></li>
              <li><a href="#!">ABOUT</a></li>
              <li><a href="#!">CONTACTS</a></li>
            </ul>
          </div>
          <div class="footer-list">
            <ul>SOCIALS
              <li><a href="#!">INSTAGRAM</a></li>
              <li><a href="#!">FACEBOOK</a></li>
              <li><a href="#!">TWITTER</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-title">
          <p>&copy 2025 by liguebez</p>
        </div>
      </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>

  </body>
</html>
