{% extends "base.html" %}
{% load static %}

{% block title %}
    Your order
{% endblock title %}

{% block content %}
    <section class="checkout-section">
        <div class="container">
            {% if cart %}
            <h2>Your order</h2>
            <div class="checkout-container">
                <div class="checkout-info">
                    <div class="checkout-form">
                        <form action="{% url "orders:order_create" %}" method="post">
                            {% csrf_token %}
                            <h3>Customer info</h3>
                            <p>
                                <label for="id_first_name">First Name: </label>
                                <input type="text" id="id_first_name"
                                name="first_name" placeholder="Your First Name" value="{{ form.first_name.value|default:'' }}" required>
                            </p>
                            <p>
                                <label for="id_last_name">Last Name: </label>
                                <input type="text" id="id_last_name"
                                name="last_name" placeholder="Your Last Name" value="{{ form.last_name.value|default:'' }}" required>
                            </p>
                            <p>
                                <label for="id_email">Email: </label>
                                <input type="text" id="id_email"
                                name="email" placeholder="Your Email" value="{{ form.email.value|default:'' }}" required>
                            </p>
                            <p>
                                <label for="id_city">City: </label>
                                <input type="text" id="id_city"
                                name="city" placeholder="Your City" value="{{ form.city.value|default:'' }}" required>
                            </p>
                            <p>
                                <label for="id_address">Address: </label>
                                <input type="text" id="id_address"
                                name="address" placeholder="Your Address" value="{{ form.address.value|default:'' }}" required>
                            </p>
                            <p>
                                <label for="id_postal_code">Postal Code: </label>
                                <input type="text" id="id_postal_code"
                                name="postal_code" placeholder="Your Postal Code" value="{{ form.postal_code.value|default:'' }}" required>
                            </p>
                            <div class="order-summary">
                                <h3 style="font-weight: 700;">Order summary</h3>

                                <p>Order price: ${{before_price}}</p>
                                <p>Discounted price: ${{discount_price}}</p>
                                <p>Total price: ${{after_price}}</p>
                                <button type="submit" class="btn">Proceed to payment</button>
                            </div>
                        </form>
                    </div>
                    <div class="order-products">
                        {% for item in cart %}
                        {% with product=item.product %}
                            <div class="cart-card">
                            <div class="product-card">
                                <div class="product-image">
                                    {% if product.discount > 0 %}
                                        <span class="discount-tag">{{ product.discount }}% off</span>
                                    {% endif %}
                                    <img src="{{ product.image.url }}" class="product-thumb" alt="" />
                                    <a class="card-btn" href="{{ product.get_absolute_url }}">view</a>
                                </div>
                                <div class="product-info">
                                    <h4 class="product-brand">{{ product.name }}</h4>
                                    <p class="product-short-description">{{ product.category }}</p>
                                    {% if product.discount > 0 %}
                                        <span class="price">${{ product.get_price }}</span><span class="actual-price">${{ product.price }}</span>
                                    {% else %}
                                        <span class="price">${{ product.get_price }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="product-card-right">
                                <form action="{% url "cart:cart_remove" product.id %}" method="post">
                                    {% csrf_token %}
                                    <button class='btn-icon' type="submit"><img src="{% static "img/close.png" %}" alt=""></button>
                                </form>
                                <div class="form-quantity">
                                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="increment">
                                        <button class='btn-icon' type="submit">+</button>
                                    </form>
                                    {{ item.quantity }}
                                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="decrement">
                                        <button class='btn-icon' type="submit">-</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="empty">
                <h2>Your didn't add anything to your cart</h2>
                <p><a href="{% url 'main:product_list' %}" class="btn" style="display: inline-block;">Continue shopping</a></p>
            </div>
            {% endif %}
        </div>
    </section>
{% endblock content %}