{% extends "base.html" %}

{% block title %}Payment cancelled{% endblock title %}

{% block content %}
    <section class="payment-cancelled">
        <div class="container">
            <div class="empty">
                <h2>Payment Cancelled</h2>
                <p>Your payment was not completed. Your order has not been placed.</p>
                <a href="{% url 'cart:cart_detail' %}" class="btn" style="display: inline-block;">Return to Cart</a>
        </div>
        </div>
    </section>
{% endblock content %}