{% extends "base.html" %}
{% load static %}

{% block title %}Payment process{% endblock title %}

{% block content %}
    <section class="checkout-section">
        <div class="container">
            {% if order %}
            <h2>Payment information</h2>
            <div class="checkout-container">
                <div class="checkout-info">
                    <div class="checkout-form">
                        <form action="{% url "payment:payment_process" %}" method="post">
                            {% csrf_token %}
                            <div class="order-summary">
                                <h3 style="font-weight: 700;">Cost info</h3>
                                <p>Total price: ${{ order.get_total_cost }}</p>
                                <button type="submit" class="btn">Pay now</button>
                            </div>
                        </form>
                    </div>
                    <div class="order-products">
                        {% for item in order.items.all %}
                        {% with product=item.product %}
                            <div class="cart-card">
                            <div class="product-card">
                                <div class="product-image">
                                    {% if product.discount > 0 %}
                                        <span class="discount-tag">{{ product.discount }}% off</span>
                                    {% endif %}
                                    <img src="{{ product.image.url }}" class="product-thumb" alt="" />
                                    <a class="card-btn" href="{{ product.get_absolute_url }}">view</a>
                                </div>
                                <div class="product-info">
                                    <h4 class="product-brand">{{ product.name }}</h4>
                                    {% if product.discount > 0 %}
                                        <span class="price">${{ product.get_price }}</span><span class="actual-price">${{ product.price }}</span>
                                    {% else %}
                                        <span class="price">${{ product.get_price }}</span>
                                    {% endif %}
                                    <p class="price"> Quantity: {{ item.quantity }} </p>
                                </div>
                            </div>  
                        </div>
                        {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="empty">
                <h2>Your didn't add anything to your order</h2>
                <p><a href="{% url 'main:product_list' %}" class="btn" style="display: inline-block;">Continue shopping</a></p>
            </div>
            {% endif %}
        </div>
    </section>
{% endblock content %}